.comment {
    color: rgb(84,153,85);
}
.modules {
    color: rgb(78,201,176);
}
.string {
    color: rgb(206,145,108);
}
.functions {
    color: rgb(220,205,121);
}
.vars {
    color: rgb(83,184,254);
}
.logic {
    color: rgb(149,121,192)
}
.assign {
    color: rgb(240,240,240)
}
.def {
    color: rgb(6, 88, 181)
}
#taa {
    background-color: rgb(0,0,0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
}
body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(240,240,240);
    font-family: "JetBrains Mono", monospace;
}
h1, h2, h3 {
    text-align: center;
    padding: 5px;
    margin: 5px
}
a {
    color: rgb(80,80,80);
}
a:visited {
    color: rgb(160,160,160)
}
#leftHorn, #rightHorn {
    height: 75px;
}
#leftHorn {
    transform: rotate(-45deg);
}
#rightHorn {
    transform:rotate(45deg);
}
.bigBox {
    background-color: rgb(0,0,0);
    margin: 10px;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    padding: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.biggerBox {
    background-color: rgb(240,240,240);
    margin: 10px;
    color: black;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box {
    background-color: rgb(240,240,240);
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 1px;
    width: bigBox;
    color: rgb(0,0,0);
}
.smallBox {
    background-color: rgb(240,240,240);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    color: rgb(0,0,0);
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    font-size: 10px;
}
.blackSpace {
    margin: 10px;
}
@media screen and (min-width: 950px) {
    .row {
        flex-direction: row;
    }
}
@media screen and (max-width: 950px){
    .row {
        display: flex;
        flex-direction: column;
    }
}
.row {
    display: flex;
    margin: 0px;
    justify-content: center;
    color: rgb(240,240,240);
}    
.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(240,240,240);
    font-size: 50px;
    color: rgb(240,240,240);
    padding: 20px;
    height: 75px;
}  
.barOne {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    height: 45px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: black;
}
.barTwo {
    width: 10%;
    background-color: rgb(80,80,80);
}
.barThree {
    width: 10%;
    background-color: rgb(160,160,160);
}
#pHtext {
    display: flex;
    align-items: center;
    color: rgb(0,0,0);
}
#footerGradient {
    background-image: linear-gradient(to bottom, rgb(240,240,240), rgb(0,0,0));
    height: 25px;
    width: 100%;
}
.gradDown {
    background-image: linear-gradient(to bottom, rgb(240,240,240), rgb(0,0,0));
    height: 25px;
    width: 100%;
}
.gradUp {
    background-image: linear-gradient(to top, rgb(240,240,240), rgb(0,0,0));
    height: 25px;
    width: 100%;
}
.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
p {
    font-size: 15px;
    margin: 5px;
}
.linkColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
