.comment {
    color: rgb(84,153,85);
}
.modules {
    color: rgb(78,201,176);
}
.string {
    color: rgb(206,145,108);
}
.functions {
    color: rgb(220,205,121);
}
.vars {
    color: rgb(83,184,254);
}
.logic {
    color: rgb(149,121,192)
}
.assign {
    color: rgb(240,240,240)
}
.def {
    color: rgb(6, 88, 181)
}
#taa {
    background-color: rgb(0,0,0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
}
