body {
  background-color: white;
  font-family: Consolas, 'Courier New', monospace;
  text-align: center;
  
}
h1 {
  font-size: 40;
}
h2 {
  font-size: 35;
}
h3 {
  font-size: 30;
}
h4 {
  font-size: 25;
}
p {
  font-size: 15;
}

.linkBar {
  background-color: black;
  font-size: 25;
  color: white;
}

.header {
  font-size: 45;
}
