body {
  background-color: white;
  font-family: Consolas, 'Courier New', monospace;
  text-align: center;
  
}
h1 {
  font-size: 40;
}
h2 {
  font-size: 35;
}
h3 {
  font-size: 30;
}
h4 {
  font-size: 25;
}
h5 {
  font-size: 20;
}
h6 {
  font-size: 15
}
p {
  font-size: 10
}
