body {
  background-color: white;
  font-family: Consolas, 'Courier New', monospace;
  text-align: center;
  
}
h1 {
  font-size: 40;
}
h2 {
  font-size: 35;
}
h3 {
  font-size: 30;
}
h4 {
  font-size: 25;
}
p {
  font-size: 15;
}
a {
 color: white; 
}
a:visited {
 color: lightgrey; 
}
a:hover {
  font-size: 30;
}
.linkBar {
  background-color: black;
  font-size: 25;
  color: white;
  height: 35;
  padding: 5;
  margin: 0;
}
.header {
  font-size: 45;
}
